
nav{
    background-color: #333;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #111;
  }
  header {
    text-align: center;
  }
  
  body {
    background-color: rgb(36, 97, 133);
  }
  

 main{
   text-align: center;
   background-color: black;
 }
 .post_text{
   text-align: left;
 }
 .blogs{
   border: black;
   background-color: rgb(189, 159, 119);
   margin: 5px;

 }
